__pycache__/
*.pyc
*.egg-info/
build/
dist/
.pytest_cache/
.ruff_cache/
examples/figures/*.png
!examples/figures/summary_colour.png
.ipynb_checkpoints/
examples/regEngWales.csv
!examples/figures/overall_risk_colour.png
!examples/figures/attributable_colour.png
